name: Test

on: [push, pull_request]

jobs:
  build:
    name: build (Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }})
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        include:
          - django-version: "1.11"
            python-version: "2.7"
          - django-version: "1.11"
            python-version: "3.5"
          - django-version: "1.11"
            python-version: "3.6"
          - django-version: "1.11"
            python-version: "3.7"
          # Django 2.0
          - django-version: "2.0"
            python-version: "3.5"
          - django-version: "2.0"
            python-version: "3.6"
          - django-version: "2.0"
            python-version: "3.7"
          # Django 2.1
          - django-version: "2.1"
            python-version: "3.5"
          - django-version: "2.1"
            python-version: "3.6"
          - django-version: "2.1"
            python-version: "3.7"
          # Django 2.2
          - django-version: "2.2"
            python-version: "3.5"
          - django-version: "2.2"
            python-version: "3.6"
          - django-version: "2.2"
            python-version: "3.7"
          - django-version: "2.2"
            python-version: "3.8"
          - django-version: "2.2"
            python-version: "3.9"
          # Django 3.0
          - django-version: "3.0"
            python-version: "3.6"
          - django-version: "3.0"
            python-version: "3.7"
          - django-version: "3.0"
            python-version: "3.8"
          - django-version: "3.0"
            python-version: "3.9"
          # Django 3.1
          - django-version: "3.1"
            python-version: "3.6"
          - django-version: "3.1"
            python-version: "3.7"
          - django-version: "3.1"
            python-version: "3.8"
          - django-version: "3.1"
            python-version: "3.9"
          # Django 3.2
          - django-version: "3.2"
            python-version: "3.6"
          - django-version: "3.2"
            python-version: "3.7"
          - django-version: "3.2"
            python-version: "3.8"
          - django-version: "3.2"
            python-version: "3.9"
          - django-version: "3.2"
            python-version: "3.10"
          # Django 4.0
          - django-version: "4.0"
            python-version: "3.8"
          - django-version: "4.0"
            python-version: "3.9"
          - django-version: "4.0"
            python-version: "3.10"
          # Django 4.1
          - django-version: "4.1"
            python-version: "3.8"
          - django-version: "4.1"
            python-version: "3.9"
          - django-version: "4.1"
            python-version: "3.10"

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key:
          ${{ matrix.python-version }}-v1-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/tox.ini') }}
        restore-keys: |
          ${{ matrix.python-version }}-v1-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox tox-gh-actions

    - name: Tox tests
      env:
        DJANGO: ${{ matrix.django-version }}
        DATABASE_URL: 'postgres://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres'
      run: |
        tox -v
